body{
    background: white;
}
.box-heading{
    background-image: url(../img/bg.jpg)  ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flexbox ;
    width:100%;
    height: 600px;
    padding-top: 150px;

}
.up-heading{

text-align: center;
background-color: whitesmoke;
background-size: 20%;

}

.down-heading{
    text-align: center;
    background-color: whitesmoke;
}